<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .o1{
        width: 25%;
        height: 50px;
        border: 1px black solid;
        float: left;
    }
    .o2{
        width: calc(50% - 6px);
        height: 50px;
        border: 1px black solid;
        float: left;
    }
    .menu{
        width: calc(100% - 2px);
        height: 50px;
        border: 1px black solid;
        float: left;
    }
</style>
<body>
    <div class="o1"></div>
    <div class="o2"></div>
    <div class="o1"></div>
    <div class="menu"></div>
</body>
</html>